.tp-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.tp-full-width {
  width: 100%;
  background-color: green
}

.mat-input-element {
  color: black;
}
table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 500px;
}
th.mat-header-cell {
  text-align: left;
  max-width: 300px;
}
